body * {
  /* border: 1px solid black; */
  margin: 0;
  list-style: none;
}

body{
    display: flex;
    flex-direction: column;
}

.player-option {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin: 20px 100px;
}

.option {
  padding: 5px;
  border-radius: 15%;
  background-color: rgb(249, 249, 249);
  border: 0;
  color: rgb(70, 68, 0);
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 255, 215);
  gap: 30px;
  /* border-bottom: 3px solid; */
}
.hero-links {
  display: flex;
  padding: 30px;
  gap: 20px;
}
.logo {
  margin-right: auto;
}
.player {
  display: flex;
  gap: 10px;
  padding: 10px 0px;
}
.player-name {
  background-color: rgb(255, 242, 0);
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: x-large;
}
.player-score,
.right-hero {
  display: flex;
  align-items: center;
  padding: 0 5px;
}
.player-score{
  font-weight: lighter;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.player-two {
  flex-direction: row-reverse;
}

.logo {
  font-size: x-large;
}
.game-section {
    margin: 20px 0;
    width: 700px;
    align-self: center;
}
.option-icon{
  width:140px;
  padding:10px;
  margin: 5px 7px;
}
.current-round {
  display: flex;
  margin: 20px 0;
  justify-content: space-around;
  border-bottom: 3px solid;
  border-top: 3px solid;
}
.verses{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  border: 1px solid;
  border-top: none;
}
.round-count {
  background-color: yellow;
  padding: 3px 10px;
}
.round{
  margin: 20px 0;
}
.choice{
  display: flex;
  align-items: center;
}

.start-game-section{
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  font-size: x-large;
  gap: 10px;
  justify-content: center;
  width:500px;
  padding: 20px;
  margin-top: 40px;
  background-color: rgb(245, 205, 153);
  color: rgb(57, 12, 0);
}
.start-game-button{
  border: none;
  background-color: rgb(57, 12, 0);
  color: rgb(255, 213, 157);
  font-weight: 900;
  height: 30px;
  padding: 0 10px;
  border-radius: 25px;
  align-self: center;
}
.user-input-type{
  border: 1px solid rgb(57, 12, 0);
  background-color: rgb(255, 233, 203);
  border-radius: 5px;
}
.user-input{
  display: flex;
  height: 30px;
  gap: 20px;
}